{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="text-center text-muted m-5">Profile</h1>        
        <img src=" {{ app.user.gravatar }} " alt="avatar" class="rounded-circle shadow">
         
        <p class="mt-3"> {{app.user.email }} </p>
        <h2> {{ app.user.firstName }} {{ app.user.lastName }} </h2>
        <p><small> Account created at {{ app.user.createdAt|date('d,m,Y') }} </small></p>
        <p>
            <a href=" {{ path('app_account_change') }} ">Change password</a> |
            <a href=" {{ path('app_account_edit') }} "> Edit account </a>
        </p>
    </div>
</div>
{% endblock %}
